@import '../abstracts/util';

// icon size
.icon.icon-size__8px {
	@include dimension--square(8px);
}
.icon.icon-size__ps {
	@include dimension--square(10px);
}
.icon.icon-size__ns {
	@include dimension--square(12px);
}
.icon.icon-size__ms {
	@include dimension--square(14px);
}
.icon.icon-size__xs {
	@include dimension--square(16px);
}
.icon.icon-size__s {
	@include dimension--square(18px);
}
.icon.icon-size__m {
	@include dimension--square(20px);
}
.icon.icon-size__l {
	@include dimension--square(24px);
}
.icon.icon-size__xl {
	@include dimension--square(28px);
}
.icon.icon-size__32px {
	@include dimension--square(32px);
}
.icon.icon-size__36px {
	@include dimension--square(36px);
}

.icon-search {
	fill: transparent;
	stroke: var(--icon-outline-color);
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.icon-ellipsis-h {
	fill: var(--color-primary-text);
}
.icon-ellipsis-v {
	fill: var(--color-primary-text);
}
.icon-bin {
	fill: currentColor;
}
.icon-filter {
	// fill: var(--color-primary-text);
}
.icon-plus {
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
}
.icon-minus {
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
}
.icon-cancel {
	fill: none;
	stroke: var(--icon-outline-color);
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.icon-briefcase {
	stroke-width: 2px;
}
.icon-chevron-up {
	fill: transparent;
	stroke: var(--color-icon);
	stroke-width: 2;
	&__round {
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
.icon-chevron-right {
	fill: transparent;
	stroke: var(--color-icon);
	stroke-width: 2;
	&__round {
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
.icon-chevron-down {
	fill: transparent;
	stroke: var(--color-icon);
	stroke-width: 2;
	&__round {
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
.icon-chevron-left {
	fill: transparent;
	stroke: var(--color-icon);
	stroke-width: 2;
	&__round {
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}
.icon-user-group {
	fill: none;
	stroke: #000;
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.icon-cog {
	fill: var(--icon-outline-color);
}
.icon-security-user {
	fill: none;
	stroke: var(--icon-outline-color);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.icon-folder {
	fill: #fff;
	stroke: #000000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1;
}
.icon-folder-open-side {
	fill: #fff;
	stroke: #000000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1;
}
.icon.stroke-black {
	stroke: #000;
}

// fill
.fill-current {
	fill: currentColor;
}
.fill-transparent {
	fill: transparent;
}
.fill-primary {
	fill: var(--icon-outline-color);
}
.fill-sec {
	fill: var(--icon-outline-sec-color);
}
.fill-color-primary {
	fill: var(--color-primary);
}
.fill-positive {
	fill: var(--color-positive);
}
.fill-negative {
	fill: var(--color-negative);
}
.fill-white {
	fill: #fff;
}

// stroke color
.stroke-none {
	stroke: none;
}
.stroke-inherit {
	stroke: inherit;
}
.stroke-current {
	stroke: currentColor;
}
.stroke-transparent {
	stroke: transparent;
}
.stroke-primary {
	stroke: var(--icon-outline-color);
}
.stroke-sec {
	stroke: var(--icon-outline-sec-color);
}
.stroke-positive {
	stroke: var(--color-positive);
}
.stroke-negative {
	stroke: var(--color-negative);
}
.stroke-black {
	stroke: #000;
}
.stroke-white {
	stroke: #fff;
}

// stroke-width
.stroke-0 {
	stroke-width: 0;
}
.stroke-0\.5 {
	stroke-width: 0.5;
}
.stroke-1 {
	stroke-width: 1;
}
.stroke-1\.5 {
	stroke-width: 1.5;
}
.stroke-2 {
	stroke-width: 2;
}
.stroke-2\.5 {
	stroke-width: 2.5;
}
.stroke-3 {
	stroke-width: 3;
}
.stroke-3\.5 {
	stroke-width: 3.5;
}
.stroke-4 {
	stroke-width: 4;
}
.stroke-4\.5 {
	stroke-width: 4.5;
}
.stroke-5 {
	stroke-width: 5;
}
