@import '../abstracts/util';

:root {
	--font-family--global: var(--font-family--poppins);
	--font-family--poppins: 'Poppins', sans-serif;
	--font-family--sohne: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-family--arial: Arial, Helvetica, sans-serif;
	--font-family--bree-serif: 'Bree Serif', serif;
	--font-family--gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--font-family--major-mono-display: 'Major Mono Display', monospace;
	--font-family--system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--color-black: #000;
	--color-white: #fff;

	--color-primary: rgb(100 134 255); //#0d74f5;
	--color-primary--hover: rgb(78, 109, 225);
	--color-primary--disabled: rgb(163 183 255);
	--color-primary--selected: hsl(211, 100%, 90%);
	--color-primary--selected--hover: #aed4fc;
	--color-primary-title: hsl(211, 100%, 90%);

	// --icon-outline-color: var(--color-optional-text); // old
	--icon-outline-color: var(--color-primary-text);
	--icon-outline-sec-color: #aed4fc;

	--background-color-body: hsl(228, 38%, 95%);
	--background-color-primary: #fff;
	--background-color-primary--hover: #e2e4ed; // hsl(0, 0%, 93%);
	--background-color-primary--selected: hsl(210, 100%, 91%); // hsl(211, 100%, 90%);

	--background-color-secondary: hsl(0, 0%, 100%);
	--background-color-sec-button: hsl(0, 0%, 100%);
	--background-color-sec-button--hover: hsl(231.4, 100%, 95.9%);

	--color-text-tertiary: rgb(100 134 255);
	--color-text-tertiary--hover: #fff;
	--color-text-tertiary--disabled: rgb(138, 138, 138);
	--background-color-tertiary: rgb(100, 134, 255);
	--background-color-tertiary--hover: rgb(122 152 255);
	--background-color-tertiary--disabled: rgb(232 232 232);

	--background-color-modal: hsla(230, 30%, 23%, 0.7);
	--background-color-dialog: hsl(0, 0%, 100%);

	--color-positive: #258750;
	--color-positive--hover: #007038;
	--color-negative: #f86257;
	--color-negative--hover: #ea4639;
	--color-negative--disabled: #dba395;
	--background-color-negative: #ffebee;

	--background-color-highlight: rgb(217 217 233 / 30%); //rgb(201 201 215 / 34%);
	--border-color-table-row: #cfcfdf;
	--background-color-modal-freeze: rgb(40 54 104 / 60%);

	--color-placeholder: #676879;
	--color-icon: #676879;
	--color-link: #1f76c2;
	--color-hr: hsla(237, 8%, 44%, 0.2);

	--color-primary-text: #d0f8ff;
	--color-text-on-primary: #ffffff;
	--color-optional-text: #b3b2b2;

	--color-sec-text: hsl(0, 0%, 47%);
	--color-sec-line: hsla(0, 0%, 47%, 0.667);

	--font-size__ns: 12px;
	--font-size__xs: 13px;
	--font-size__s: 14px;
	--font-size__ms: 15px;
	--font-size__m: 16px;
	--font-size__l: 18px;
	--font-size__xl: 20px;

	--border-radius__s: 4px;
	--border-radius__m: 8px;
	--border-radius__l: 16px;
	--border-color-input-field: hsl(0, 0%, 74%);
	--border-color-on-secondary-color: hsl(228, 27%, 85%);

	--box-shadow__xs: 0px 4px 4px hsla(0, 0%, 0%, 0.1);
	--box-shadow__s: 0px 4px 8px hsla(0, 0%, 0%, 0.2);
	--box-shadow__m: 0px 6px 20px hsla(0, 0%, 0%, 0.2);
	--box-shadow__l: 0px 15px 50px hsla(0, 0%, 0%, 0.3);

	--max-height-dropdown: 240px;
}
:root {
	@extend %tap-on-highlight--disable;
	@include user-select(none);

	font: {
		family: var(--font-family--global);
		size: 16px;
		weight: 400;
	}
}
:root {
	--color-sec-text: hsl(230, 6%, 21%);
	--color-sec-text--hover: hsl(230, 6%, 21%);
	--color-sec-text--selected: hsl(230, 6%, 21%);
}
/*

color-primary-text
color-primary-text--hover
color-primary-text--selected

color-sec-text
color-sec-text--hover
color-sec-text--selected

bg-primary
bg-primary--hover
bg-primary--selected

bg-sec
bg-sec--hover
bg-sec--selected

*/

#icons-group {
	display: none;
}

html,
body {
	@include height-curb($min: 100%, $height: 100%);
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	@include dimension--box(100%, 100%);
	overflow-y: scroll;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	@extend %scrollbar--disable;

	color: var(--color-primary-text);
	padding: 0 !important;
}

.h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
	}
}
.h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 0.83em;
		margin-block-end: 0.83em;
	}
}
.h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
}
.h4 {
	display: block;
	font-size: 1em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 1.33em;
		margin-block-end: 1.33em;
	}
}
.h5 {
	display: block;
	font-size: 0.83em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 1.67em;
		margin-block-end: 1.67em;
	}
}
.h6 {
	display: block;
	font-size: 0.67em;
	font-weight: bold;
	&:not(.no-margin) {
		margin-block-start: 2.33em;
		margin-block-end: 2.33em;
	}
}

.text-ns {
	font-size: var(--font-size__ns);
}
.text-xs {
	font-size: var(--font-size__xs);
}
.text-s {
	font-size: var(--font-size__s);
}
.text-ms {
	font-size: var(--font-size__ms);
}
.text-m {
	font-size: var(--font-size__m);
}
.text-l {
	font-size: var(--font-size__l);
}
.text-xl {
	font-size: var(--font-size__xl);
}

.text-title {
	color: var(--color-primary-title);
}
.text-primary {
	color: var(--color-primary-text);
}
.text-sec {
	color: var(--color-sec-text);
}
.text-placeholder {
	color: var(--color-placeholder);
}
.text-light {
	color: var(--color-light-text);
}
.color-primary {
	color: var(--color-primary);
}
.color-primary-selected {
	color: var(--color-primary--selected);
}
.text-positive {
	color: var(--color-positive);
}
.text-negative {
	color: var(--color-negative);
}

// background
.bg-inherit {
	background-color: inherit;
}
.bg-current {
	background-color: currentColor;
}
.bg-transparent {
	background-color: transparent;
}
.bg-primary {
	background-color: var(--background-color-primary);
}
.bg-sec {
	background-color: var(--background-color-secondary);
}
.bg-sec--hover {
	background-color: var(--background-color-secondary--hover);
}
.bg-app-side-bar {
	background-color: var(--bg-app-side-bar);
}
