<template
	tag-name="editor-file-tree"
	lyte-comp="true">
	<div class="h-full flex-col">
		<template lyte-if="{{!filesLoaded}}">
			<div class="file-tree-shimmer pr-2">
				<div class="file-tree-shimmer__row">
					<div class="file-tree-shimmer__icon"></div>
					<div
						class="file-tree-shimmer__text"
						style="width: 70%"></div>
				</div>
				<div class="file-tree-shimmer__row">
					<div class="file-tree-shimmer__icon"></div>
					<div
						class="file-tree-shimmer__text"
						style="width: 55%"></div>
				</div>
				<div class="file-tree-shimmer__row">
					<div class="file-tree-shimmer__icon"></div>
					<div
						class="file-tree-shimmer__text"
						style="width: 82%"></div>
				</div>
				<div class="file-tree-shimmer__row">
					<div class="file-tree-shimmer__icon"></div>
					<div
						class="file-tree-shimmer__text"
						style="width: 45%"></div>
				</div>
				<div class="file-tree-shimmer__row">
					<div class="file-tree-shimmer__icon"></div>
					<div
						class="file-tree-shimmer__text"
						style="width: 65%"></div>
				</div>
			</div>
		</template>
		<template lyte-if="{{filesLoaded && files.length == 0}}">
			<div class="editor-file-tree-empty-drop-ghost pr-2">
				<div class="editor-file-tree-empty-drop-ghost__row">
					<div class="editor-file-tree-empty-drop-ghost__icon"></div>
					<div class="editor-file-tree-empty-drop-ghost__text"></div>
				</div>
			</div>
			<div class="editor-file-tree-empty flex-col flex-center gap-2 h-full mb-5 pr-1.5 text-center">
				<span
					class="material-symbols-outlined editor-file-tree-empty__icon text-primary"
					style="font-size: 64px; opacity: 0.4">
					note_add
				</span>
				<span
					class="text-s text-primary"
					style="opacity: 0.7">
					Create a new...
				</span>
				<div class="flex-col gap-0.5 mt-1 w-full">
					<div
						class="editor-file-tree-empty__action"
						onclick="{{action('onNewFileClick')}}">
						<span
							class="material-symbols-outlined"
							style="font-size: 18px">
							note_add
						</span>
						<span class="editor-file-tree-empty__action-label text-s">File</span>
						<span class="editor-file-tree-empty__action-shortcut text-xs">⌃⇧N</span>
					</div>
					<div
						class="editor-file-tree-empty__action"
						onclick="{{action('onNewComparatorFileClick')}}">
						<span
							class="material-symbols-outlined"
							style="font-size: 18px">
							difference
						</span>
						<span class="editor-file-tree-empty__action-label text-s">Comparator</span>
						<span class="editor-file-tree-empty__action-shortcut text-xs">⌃⇧M</span>
					</div>
					<div class="editor-file-tree-empty__divider"></div>
					<div
						class="editor-file-tree-empty__action"
						onclick="{{action('onImportFilesClick')}}">
						<span
							class="material-symbols-outlined"
							style="font-size: 18px">
							upload_file
						</span>
						<span class="editor-file-tree-empty__action-label text-s">Import Files</span>
						<span class="editor-file-tree-empty__action-shortcut text-xs">⌃⇧O</span>
					</div>
				</div>
			</div>
		</template>
		<template lyte-if="{{filesLoaded && files.length > 0}}">
			<div class="editor-file-tree-container pr-2 overflow-x-hidden">
				<template lyte-for="{{files}} as file index">
					<editor-file
						class="sortable-element {{sortableClass}} {{if(file.id == activeFileId, '--active')}}"
						file="{{file}}"
						file-index="{{index}}"
						on-file-create="{{method('onFileCreate', file)}}"
						on-file-update="{{method('onFileUpdate', file)}}"
						on-file-remove="{{method('onFileRemove', file)}}"></editor-file>
				</template>
			</div>
		</template>
	</div>
</template>
