@import '../../../abstracts/util';

.editor-file-tree-container {
	$scrollbar-width: 2px;
	$scrollbar-height: 2px;
	$scrollbar-thumb-color: rgba(215, 219, 235, 0.4);
	$scrollbar-thumb-radius: 16px;
	$scrollbar-track-piece-color: rgba(215, 219, 235, 0.1);

	scrollbar-width: $scrollbar-width;
	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-piece-color;

	&::-webkit-scrollbar {
		width: $scrollbar-width;
		height: $scrollbar-height;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: $scrollbar-track-piece-color;
	}
	&::-webkit-scrollbar-thumb {
		@include border-radius($scrollbar-thumb-radius);
		background-color: $scrollbar-thumb-color;
	}

	@include grid-container(4px) {
		grid-template-columns: 232px;
	}
}

.editor-file-tree-empty {
	&__icon {
		width: 64px;
		height: 64px;
		// color: var(--color-primary);
		opacity: 0.6;
	}
}

// --- External file drop placeholder ---

.external-drop-placeholder {
	border: 1px dashed var(--border-color-input-field);
	@include border-radius(var(--border-radius__s));
	background-color: rgba(237, 239, 247, 0.22);
	min-height: 32px;
	@include transition((opacity 0.15s ease));
}

editor-file-tree.--external-drag-active .editor-file-tree-empty {
	pointer-events: none;
	opacity: 0.4;
}
