<template
	tag-name="main-container"
	lyte-comp="true"
	class="h-full">
	<editor-user-preference-modal
		lt-prop-show="{{lbind(showPreferenceModal)}}"
		files="{{files}}"></editor-user-preference-modal>
	<about-modal
		lt-prop-show="{{lbind(showAboutModal)}}"
		lt-prop-is-walkthrough="{{lbind(isAboutWalkthrough)}}"></about-modal>
	<editor-archive-panel
		lt-prop-show="{{lbind(showArchivePanel)}}"
		files="{{files}}"></editor-archive-panel>
	<div class="main-container flex h-full">
		<div
			class="sidebar-panel pb-2 pl-2 shrink-0"
			style="min-width: 252px; max-width: 252px">
			<div class="h-full flex-col">
				<div class="sidebar-header flex items-center justify-between">
					<h4 class="sticky top-0 text-title flex items-center gap-1">
						<span class="material-symbols-outlined">code</span>
						CodePal
					</h4>
					<template lyte-if="{{files.length > 0}}">
						<div class="ml-auto flex">
							<clsc-action-dropdown
								options="{{lbind(addFileMenuOptions)}}"
								on-new-file="{{method('onNewFile')}}"
								on-new-comparator="{{method('onNewComparator')}}"
								on-import-file="{{method('onImportFile')}}"></clsc-action-dropdown>
						</div>
					</template>
				</div>
				<editor-file-tree
					id="editor-file-tree"
					files="{{files}}"
					files-loaded="{{filesLoaded}}"
					class="grow min-h-0"></editor-file-tree>
				<div class="sidebar-footer flex-col pt-1">
					<div class="flex items-center gap-0.5 pr-1.5">
						<button
							class="btn-icon-sec"
							onclick="{{action('onArchiveClick')}}"
							lt-prop-title="Archived Files"
							lt-prop-tooltip-class="clsc-text-tooltip"
							lt-prop-tooltip-config='{"position":"top","animation":{"start":"clsc-tooltip-start","during":"clsc-tooltip-animation","end":"clsc-tooltip-end"}}'>
							<span
								class="material-symbols-outlined"
								style="font-size: 22px">
								archive
							</span>
						</button>
						<clsc-action-dropdown
							trigger-icon="tune"
							menu-position="top"
							options="{{lbind(footerMenuOptions)}}"
							on-open-about="{{method('onOpenAbout')}}"
							on-open-settings="{{method('onOpenSettings')}}"></clsc-action-dropdown>
					</div>
				</div>
			</div>
		</div>
		<div class="editor-area-container grow flex">
			<editor-container
				monaco="{{monaco}}"
				files="{{files}}"
				class="wh-full"></editor-container>
		</div>
	</div>
</template>
