<template
	tag-name="main-container"
	lyte-comp="true"
	class="h-full">
	<editor-user-preference-modal lt-prop-show="{{lbind(showPreferenceModal)}}"></editor-user-preference-modal>
	<about-modal lt-prop-show="{{lbind(showAboutModal)}}"></about-modal>
	<div class="main-container flex h-full">
		<div
			class="sidebar-panel pb-2 pl-2 shrink-0"
			style="min-width: 252px; max-width: 252px">
			<div class="h-full flex-col">
				<div class="sidebar-header flex items-center justify-between">
					<h4 class="sticky top-0 text-title flex items-center gap-1">
						<span class="material-symbols-outlined">code</span>
						CodePal
					</h4>
					<template lyte-if="{{files.length > 0}}">
						<div class="ml-auto flex">
							<button
								lt-prop-title="New Comparator File"
								lt-prop-tooltip-class="clsc-text-tooltip"
								lt-prop-tooltip-config='{"position": "bottom"}'
								class="btn-icon-sec"
								onclick="{{action('onCreateComparatorFileClick')}}">
								<svg-icon
									icon-name="file-compare"
									icon-size="m"
									svg-class="fill-primary stroke-0.5"></svg-icon>
								<!-- <span class="material-symbols-outlined">difference</span> -->
							</button>
							<button
								lt-prop-title="New Editor File"
								lt-prop-tooltip-class="clsc-text-tooltip"
								lt-prop-tooltip-config='{"position": "bottom"}'
								class="btn-icon-sec"
								onclick="{{action('onCreateFileClick')}}">
								<svg-icon
									icon-name="file"
									icon-size="m"
									svg-class="stroke-primary stroke-0.5"></svg-icon>
								<!-- <span class="material-symbols-outlined">note_add</span> -->
							</button>
						</div>
					</template>
				</div>
				<editor-file-tree
					id="editor-file-tree"
					files="{{files}}"
					class="grow min-h-0"></editor-file-tree>
				<div class="sidebar-footer flex-col pt-1">
					<div class="flex items-center gap-0.5">
						<button
							class="btn-primary w-4 h-4"
							onclick="{{action('onAboutClick')}}">
							<span class="material-symbols-outlined text-xl">info_i</span>
						</button>
						<button
							class="btn-primary w-4 h-4"
							onclick="{{action('onPreferenceClick')}}">
							<span class="material-symbols-outlined text-xl">settings</span>
						</button>
					</div>
					<!-- <button class="btn-primary">
                            <div class="w-full flex items-center gap-1">
                                <svg-icon
                                    icon-name="plus"
                                    icon-size="l"
                                    svg-class="stroke-primary fill-primary stroke-3"></svg-icon>
                                <span>New Editor File</span>
                            </div>
                        </button> -->
					<!-- <button class="btn-primary mt-1">
                            <div class="w-full flex items-center gap-1">
                                <span>Settings</span>
                                <span
                                    class="ml-auto"
                                    style="color: #ececec">
                                    <kbd class="flex-center gap-1 text-xs">
                                        <span class="text-l">⌥</span>
                                        <span>+</span>
                                        <span>N</span>
                                    </kbd>
                                </span>
                            </div>
                        </button> -->
					<!-- <h4 class="no-margin text-title">Theme</h4>
                        <clsc-template-dropdown
                            data="{{editorThemes}}"
                            placeholder="Choose Theme"
                            active-option-index="{{currentThemeIndex}}"
                            on-select="{{method('onThemeSelect')}}">
                            <template
                                is="yield"
                                yield-name="lyte-drop-button">
                                <div class="flex-center gap-1.5">{{selected.name}}</div>
                            </template>
                            <template
                                is="yield"
                                yield-name="lyte-drop-item">
                                <div class="">{{item.name}}</div>
                            </template>
                        </clsc-template-dropdown> -->
				</div>
			</div>
		</div>
		<div class="editor-area-container grow flex">
			<editor-container
				monaco="{{monaco}}"
				files="{{files}}"
				class="wh-full"></editor-container>
		</div>
	</div>
</template>
