@mixin triangle--right($size, $background-color) {
	@include dimension--square(0);
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $background-color;
}

@mixin triangle--down($size, $background-color) {
	@include dimension--square(0);
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $background-color;
}
